/* ADMIN.CSS */
.loginbox li{width:61%}
.admincontrolutama .box .penjelasan{-moz-border-radius:4px;background:none repeat scroll 0 0 #444;color:#FFF;padding:5px}
.admincontrolutama{background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;margin:0 auto;width:920px}
.loginbox ul li:focus{background:#FFF7C0}
.admincontrolutama .box{background:none repeat scroll 0 0 #F0F0F0;margin:5px;padding:10px}
.adminnews{margin:0 auto;padding:10px;width:900px}

/* Announcements */
.adminpengumuman{background:none repeat scroll 0 0 #FFFFE1;margin:0 auto 10px;padding:10px;width:900px}
.adminprivate{background:none repeat scroll 0 0 #FAEBD7;margin:0 auto 10px;padding:10px;width:900px}
.admininformation{background:none repeat scroll 0 0 #FAEBD7;margin:0 auto 0;padding:10px;width:900px;}

.loginbox{background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;height:190px;margin:102px auto;padding:10px;width:450px}
form{margin:0 0 18px}

/* Edit.php */
.admincontrolprofileedit{background:none repeat scroll 0 0 #FFF;border:1px solid #CCC;margin:0 auto;width:920px}
.admincontrolprofileedit .highlighted{background:#FFFFE1}
.adminnewsleft,.adminnewsright{float:left;width:300px}
.admincontrolprofileeditleft{height:810px;background:none repeat scroll 0 0 #F0F0F0;float:left;width:180px;padding:10px;}
.admincontrolprofileeditright{float:left;padding:10px;width:700px;}
.admincontrolprofileeditleft li{list-style:none;}
.profilepicedit{background:none repeat scroll 0 0 #ccc;height:250px;width:180px;}

.profilebox{text-align:center;}
.profilebox a{background:none repeat scroll 0 0 inactiveborder;color:#444444;display:block;height:20px;padding:10px 0;width:180px;}
.profilebox a:hover{background:#CCC;text-decoration:none;}
.profilebox h3{padding:0px;]}

.producttambah{background:none repeat scroll 0 0 #708090;color:#FFFFFF;padding:5px;}
.productlist{background:none repeat scroll 0 0 #708090;color:#FFFFFF;padding:5px;}
.productedit{background:none repeat scroll 0 0 #708090;color:#FFFFFF;padding:5px;}
.productdelete{background:none repeat scroll 0 0 #708090;color:#FFFFFF;padding:5px;}